{% for disallowed_user in infra_cockpit_default_disallowed_users %}
{{ disallowed_user }}
{% endfor %}
{% for disallowed_user in infra_cockpit_extra_disallowed_users %}
{{ disallowed_user }}
{% endfor %}
