- name: Install Cockpit
  ansible.builtin.apt:
    package:
      - cockpit
- name: Install Cockpit Add-ons
  ansible.builtin.apt:
    package: "{{ infra_cockpit_default_addons + infra_cockpit_extra_addons }}"
- name: Write Cockpit disallowed-users configuration
  ansible.builtin.template:
    src: etc/cockpit/disallowed-users.j2
    dest: /etc/cockpit/disallowed-users
    owner: root
    group: root
    mode: "0644"
  notify:
    - Reload Cockpit
- name: Enable Cockpit
  ansible.builtin.service:
    name: cockpit.socket
    state: started
    enabled: true
